<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <meta name = "keyword" content = "게시판, html">
    <link rel = "stylesheet" type = "text/css" href = "style/main.css">
</head>
<body>
    <header>
        <h1>게시판</h1>
    </header>
         <form action = "/members/main" method = "POST">
          <fieldset></fieldset>
        </form> 
</body>
<script type ="text/javascript" src = "scripts/main.js"></script>
</html>